
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Header Font & Spacing */

* {
  box-sizing: border-box;
}

main {
  padding: 60px;
}

.hide {
	display: none;
}

.homepage-container {
	width: 100%;
}

.homepage-box {
	border-radius: 25px;
	margin: 100px auto;
	background-color: white;
    width: 500px;
    height: 190px;
    padding: 10px;
    border: 1px solid blue;
    
}

.searching-box {
	border-radius: 25px;
	margin: 100px auto;
	background-color: white;
    width: 500px;
    height: 350px;
    padding: 10px;
    border: 1px solid blue;
}

.loading-bar {
	height: 10px;
	margin-bottom: 20px;
	background-color: darkblue;
}

canvas {
	width: 90%;
    background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(105,173,212)),
        color-stop(0.84, rgb(23,82,145))
    );
}


.results-box {
	border-radius: 25px;
	margin: 100px auto;
	background-color: white;
    width: 500px;
    height: 350px;
    padding: 10px;
    border: 1px solid blue;
}

.results-chart {
	width: 100%;

}




header {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: bold;
}

/* Body font and spacing */
body {
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin: 25px;
	background: url("https://ak5.picdn.net/shutterstock/videos/3178855/thumb/1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

button {
	background: white;
	border: 1;
	border-radius: 5px;
}

/* subtitle spacing */
h2 {
	padding-bottom: 5px;
	margin-bottom: 0px;
}

#close-button {
	color: white;
	margin: 10px;
	text-align: left;
}

#close-button:hover {
	cursor: pointer;
	color: grey;
	transition: all 0.3s ease;
}


.preview-video-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* max-width: 100%;  */
	/* height: auto;  */
	background: #000;
	padding: 20px;
	transition: all 0.3s ease;
}


/* Link Treatment */
a:link {
	color: black;
	text-decoration: none;
}
a:visited { color: purple; }

/* Background  (Tried a "paralax" treatment to no success) */

h1 {
	font-size: 13px;
	color: #fff;
}

p {
	color: black;
	font-size: 11px;
}

.video-item {
	background: rgba(255, 255, 255, .1);
	margin: 10px 0;
}

.search-box,
.search-button {
	width: 100%;
	margin: 3px 0;
	height: 30px;
}

/* Small landscape orientation devices (tablets, 768px and up) */
@media (min-width: 640px) {
	body {
		background: url("https://ak5.picdn.net/shutterstock/videos/3178855/thumb/1.jpg");
		background-size: cover;
	}
	h1 {
		font-size: 14px;
	}
	.video-item {
		width: 44%;
    display: inline-block;
    margin: 10px 10px;
    vertical-align: top;
	}

	.search-box,
	.search-button {
		width: 400px;
		height: 30px;
		margin: 0;
	}
	.search-button {
		width: 80px;
		margin-bottom: 30px;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body {
		background: url("https://ak5.picdn.net/shutterstock/videos/3178855/thumb/1.jpg");
		background-size: cover;
	}
	h1 {
		font-size: 14px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body {
		background: url("https://ak5.picdn.net/shutterstock/videos/3178855/thumb/1.jpg");
		background-size: cover;
	}
	h1 {
		font-size: 19px;
	}
	.video-item {
		width: 30%;
		min-height: 230px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body {
		background: url("https://ak5.picdn.net/shutterstock/videos/3178855/thumb/1.jpg");
		background-size: cover;
	}
	h1 {
		font-size: 25px;
	}
	.video-item {
		width: 20%;
		min-height: 320px;
	}
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 65px;
  border: none;
  text-align: auto;
  outline: none;
  font-size: 15px;
  position: fixed;        
  bottom: 0px; 
  right: 0px;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  color: black;
  overflow: hidden;
  background-color: white;
  font-color: black;
  border-radius: 10px;
}